/* Signup Page */

.signupContainer {
    flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 390pt !important;
	height: 844pt !important;
	margin: auto;
	padding-left: 0% !important;
	background-image: url('assets/SignUpPage/Background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	max-width: 100vw;
	max-height: 100vh;
}

.signupTeamNameContainer{
	position: absolute;
	max-width: 68.718%;
	max-height: 3.555%;
	top: 24.882%;
	left: 15.641%;
}

.signupTeamNameBackground{
	background-color: black;
}

.signupRedBack{
	width: 390pt;
	height: 140pt;
	background-image: url('assets/SignUpPage/Pattern_ShareableImage_SetTo100PercentWidth.png');
	background-size: 85%;
	background-color: rgba(76, 11, 14, 0.65); 
	text-align: center;
	position: absolute;
	border-top: 1pt solid #BC1B21;
	border-bottom: 1pt solid #BC1B21;
	top: 28.436vh;
    align-items: center;
    justify-content: center;
	max-width: 100%;
	max-height: 16.588%;
}

.signupMatchContainer{
	width: 390pt;
	height: 140pt;
	position: inherit;
	z-index: 6;
	display: flex;
	max-width: 100%;
	max-height: 100%
}

.signupMatchLogo{
	width: 340pt;
	height: 70pt;
	background-image: url('assets/SignUpPage/MATCH.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 85%;
	margin: auto;
	opacity: 100%;
	position: relative;
	z-index: 10;	
}

.signupTopDesignRectangles{
	position: absolute !important;
	top: 0;
}

.signupSponsorContainer{
	position: absolute !important;
	top: 45vh;
}

.signupSponsorBackground{
	background-color: black;
}

.signupTextBoxes{
	position: absolute;
	top: 460pt;
	left: 30pt;
	height: 210pt;
	width: 330pt;
	display: flex;
  	flex-direction: column;
}

.inputBox {
	margin-bottom: 20pt;
}
  
.inputField {
	width: 330pt;
	height: 50pt;
	color: white;
	background-color: #BC1B2133;
	border: 1px solid #BC1B21;
	border-radius: 5pt;
	padding: 20pt;
	font-size: 18pt;
	font-family: 'Helvetica Neue';
}

.inputField::placeholder {
	color: #BC1B21;
	font-size: 14pt;
	font-family: 'Helvetica Neue';
}

.checkbox-container {
	position: absolute;
	left: 56pt;
	top: 670pt;
	align-items: center;
}
  
.checkboxLabel {
	color: white;
	font-size: 11pt; 
	display: flex;
	align-items: center;
}
  
.checkbox {
	margin-right: 10pt;
	appearance: none;
	width: 20pt;
	height: 20pt; 
	border: 3pt solid #FFFFFFCC;
	background-color: transparent;
	border-radius: 5pt; 
	outline: none;
	cursor: pointer;
}

.checkbox::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF34; 
	border-radius: 2pt; 
}
  
.checkbox:checked::before {
	content: "\2713"; 
	color: white; 
	font-size: 9pt; 
	text-align: center;
	opacity: 1; 
}

.whiteText {
	color: white;
}
  
.termsAndConditionsText {
	color: #C8102E;
}

.signupStartContainer{
	position: absolute;
	top: 715pt;
	left: 75pt;
}

/* Gameplay Page */
.gameplayContainer {
	display: flex;
    flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 390pt !important;
	height: 844pt !important;
	margin: auto;
	padding-left: 0% !important;
}

.paddedColumn{
	width: 120pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	padding-left: 4.5pt !important;
	padding-right: 0 !important;
}

.rowMargin{
	margin: 0 5px;
	width: 370pt;
	padding-left: 14pt;
}

.flip-card {
	perspective: 1000px;
	width: 200px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.flip-card.flipped {
	transform: rotateY(180deg);
}

.flip-card-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #d7fbda;
	color: green;
}

.flip-card-back {
	background-color: #fbd7f8;
	color: blue;
	transform: rotateY(180deg);
}

.card-content {
	padding: 20px;
	text-align: center;
}

.card{
	width: 110pt !important;
	height: 110pt !important;
	border: 15px solid white !important;
	border-radius: 20pt !important; 
	margin: 0px auto;
	background-color: #bc1b21 !important;
	background-image: url('assets/GamePage/Logo_60x60.svg');
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	color: white; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
  
.card-back-1{
	background: white;
	background-image: url('assets/GamePage/scottiebarnes.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
}
  
.card-back-2{
	background: white;
	background-image: url('assets/GamePage/immanuelquickly.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
}
  
.card-back-3{
	background: white;
	background-image: url('assets/GamePage/rjbarrett.webp');
	background-size: cover;
	background-position: center;
	color: white;
}
  
.card-back-4{
	background: white;
	background-image: url('assets/GamePage/jakobpoeltl.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
}
  
.card-back-5{
	background: white;
	background-image: url('assets/GamePage/chrisboucher.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
}
  
.card-back-6{
	background: white;
	background-image: url('assets/GamePage/garytrentjr.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
}

.teamNameContainer{
	position: absolute;
	width: 268pt;
	height: 30pt;
	max-width: 68.718vw;
	max-height: 3.555vh;
}

.teamNameBackground{
	width: 268pt;
	height: 30pt;
	border: 1pt solid #BC1B21;
	border-top-left-radius: 6pt;
	border-top-right-radius: 6pt;
	border-bottom: 0pt;
	max-width: 68.718vw;
	max-height: 3.555vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teamName{
	height: 30pt;
	color: #BC1B21;
	font-size: 14pt;
	letter-spacing: 7pt;
	max-height: 100%;
	padding-top: 0.55%;
}

.red-back{
	width: 390pt;
	height: 700pt;
	background-color: #4C0B0E;
	background-image: url('assets/GamePage/Pattern_Mobile_SetTo100PercentWidth.svg');
	text-align: center;
	position: relative;
	border-top: 1pt solid #BC1B21;
	border-bottom: 1pt solid #BC1B21;
}

.gradientBottom{
	position: absolute;
    bottom: 0;
	left: 0;
	right: 0;
	height: 60pt;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	z-index: 1;
}

.gradientTop{
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	height: 60pt;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
	z-index: 5;
}


.topDesignRectangles{
	height: 10pt;
    width: 390pt;
	display: flex;
    justify-content: space-between;
	position: inherit;
	z-index: 7;
	max-width: 100vw;
}

.topLeftRectangle{
	height: 10pt;
	width: 61.5pt;
	border: 1pt solid #BC1B21;
	border-left: 0pt;
	border-top: 0pt;
	border-bottom-right-radius: 6pt;
	max-width: 15.769vw;
}

.topRightRectangle{
	height: 10pt;
	width: 61.5pt;
	border: 1pt solid #BC1B21;
	border-right: 0pt;
	border-top: 0pt;
	border-bottom-left-radius: 6pt;
	max-width: 15.769vw;
}

.matchContainer{
	padding-top: 4pt;
	padding-bottom: 14pt;
	position: inherit;
	z-index: 6;
}

.matchLogo{
	width: 260pt;
	height: 55pt;
	background-image: url('assets/SignUpPage/MATCH.svg');
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

.board{
	height: 530pt;
	width: 370pt;
	background-color: #F0F0F0;
	border-radius: 10pt !important; 
	padding: 2pt;
	margin: auto;
}

.turnsText{
	font-size: 16pt;
	padding-top: 5pt;
	font-family: 'Proxima Nova';
}

.turns-label{
	color: black;
    font-weight: bold;
}

.turns-value {
	color: #BC1B21;
	font-weight: bold;
}

.restartButton{
	background: linear-gradient(#BC1B21, #5E0E11);
	width: 240pt;
	height: 50pt;
	display: table-cell;
	border-radius: 6pt !important; 
	margin: auto;
	color: white;
	font-size: 16pt;
	font-family: 'Proxima Nova';
	border-color: white;
	border-style: solid;
	letter-spacing: 5.6pt;
}

.restartBackground{
	background: black;
	width: 245pt;
	height: 55pt;
	border-radius: 9pt !important; 
	margin: auto;
	padding-top: 2.5pt;
}

.restartContainer{
	padding-top: 10pt;
	position: relative;
	z-index: 2;
	display: flex;
    justify-content: center;
    align-items: center;
}

.bottomDesignRectangles{
	height: 10pt;
    width: 390pt;
	display: flex;
    justify-content: space-between;
	position: absolute;
	bottom: 0;
	z-index: 4;
	max-width: 100vw;
}

.bottomLeftRectangle{
	height: 10pt;
	width: 106pt;
	border: 1pt solid #BC1B21;
	border-left: 0pt;
	border-bottom: 0pt;
	border-top-right-radius: 6pt;
	max-width: 27.179vw;
}

.bottomRightRectangle{
	height: 10pt;
	width: 105.5pt;
	border: 1pt solid #BC1B21;
	border-right: 0pt;
	border-bottom: 0pt;
	border-top-left-radius: 6pt;
	max-width: 27.051vw;
}

.sponsorColumn{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.sponsorContainer{
	align-items: center;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: 390pt;
	height: 50pt;
}

.sponsorBackground{
	width: 180pt;
	height: 50pt;
	border: 1pt solid #BC1B21;
	align-items: center;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 6pt;
	border-bottom-right-radius: 6pt;
	border-top: 0pt;
}

.sponsorName{
	color: white;
	font-size: 10pt;
	letter-spacing: 2pt;
	text-align: left;
	padding-left: 25pt;
	padding-top: 18pt;
}

.sponsorPicture{
	height: 23pt;
	width: 52pt;
	background-image: url('assets/GamePage/tdLogo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: auto;
	margin-top: 12.5pt;
}

/* Finish Page */
 
.finishContainer {
    flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 390pt !important;
	height: 844pt !important;
	margin: auto;
	padding-left: 0% !important;
	background-image: url('assets/FinishPage/BlurredBackground.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
}

.congratsText{
	height: 34pt;
	width: 182pt;
	font-size: 34pt;
	font-family: 'Proxima Nova';
	font-weight: bold;
	color: #BC1B21;
	position: absolute;
	top: 40pt;
	left: 104pt;
}

.youWonText{
	height: 60pt;
	width: 300pt;
	font-size: 60pt;
	font-family: 'Proxima Nova';
	font-weight: bold;
	color: white;
	position: absolute;
	top: 60pt;
	left: 45pt;
}

.winnerPhoto{
	height: 350pt;
	width: 350pt;
	background-image: url('assets/FinishPage/winnerPhoto.png');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 157pt;
	left: 20pt;
}

.rightRedLine{
	height: 1pt;
	width: 153pt;
	position: absolute;
	top: 548.5pt;
	background-color: #BC1B21;
}

.leftRedLine{
	height: 1pt;
	width: 153pt;
	position: absolute;
	top: 548.5pt;
	left: 237pt;
	background-color: #BC1B21;
}

.shareText{
	height: 17pt;
	width: 59pt;
	position: absolute;
	top: 540pt;
	left: 166pt;
	color: white;
	font-size: 14pt;
	font-family: 'Helvetica Neue';
	font-weight: Bold;
	letter-spacing: 2.8pt;
}

.facebookLogo{
	height: 30pt;
	width: 30pt;
	position: absolute;
	top: 570pt;
	left: 101pt;
	background-image: url('assets/FinishPage/icon_facebook.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.xLogo{
	height: 30pt;
	width: 30pt;
	position: absolute;
	top: 570pt;
	left: 181pt;
	background-image: url('assets/FinishPage/icon_x.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.instagramLogo{
	height: 30pt;
	width: 30pt;
	position: absolute;
	top: 570pt;
	left: 261pt;
	background-image: url('assets/FinishPage/icon_instagram.svg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.checkEmailText{
	width: 240pt;
	height: 35pt;
	position: absolute;
	top: 620pt;
	left: 75pt;
	text-align: center;
	white-space: pre-line;
	font-size: 16pt;
	font-family: 'Proxima Nova';
	font-weight: lighter;
	line-height: 19pt;
	color: white;
}

.finishRedBack{
	width: 390pt;
	height: 100pt;
	background-image: url('assets/SignUpPage/Pattern_ShareableImage_SetTo100PercentWidth.png');
	background-size: 85%;
	background-color: rgba(76, 11, 14, 0.65); 
	text-align: center;
	position: absolute;
	border-top: 1pt solid #BC1B21;
	border-bottom: 1pt solid #BC1B21;
	top: 690pt;
    align-items: center;
    justify-content: center;
	display: flex;
}

.finishPlayAgainContainer{
	z-index: 11;
}

