/* Filename - App.css */

.App {
	text-align: center;
	margin: auto;
	width: 50rem;
}

.geeks {
	color: green;
}

.container {
	display: flex;
    flex-direction: column;
	justify-content: center;
	background-color: black;
	width: 390pt !important;
	height: 844pt !important;
	margin: auto;
	padding-left: 0% !important;
}

.flip-card {
	perspective: 1000px;
	width: 200px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.flip-card.flipped {
	transform: rotateY(180deg);
}

.flip-card-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #d7fbda;
	color: green;
}

.flip-card-back {
	background-color: #fbd7f8;
	color: blue;
	transform: rotateY(180deg);
}

.card-content {
	padding: 20px;
	text-align: center;
}

.restartButton{
	background: linear-gradient(#BC1B21, #5E0E11);
	width: 240pt;
	height: 50pt;
	display: table-cell;
	border-radius: 0.75rem !important; 
	margin: auto;
	color: white;
	font-size: 16pt;
	font-family: 'Proxima Nova, Regular';
}

.scoreText{
	font-size: 20px;
	text-align: center;
	margin: auto;
}

.board{
	height: 530pt;
	width: 370pt;
	background-color: #F0F0F0;
	border-radius: 1rem !important; 
	padding: 2pt;
	margin: auto;
}

.red-back{
	width: 390pt;
	height: 700pt;
	background-color: #4C0B0E;
	background-image: url('assets/GamePage/Pattern_Mobile_SetTo100PercentWidth.svg');
	text-align: center;
}
