.card{
  width: 110pt !important;
  height: 110pt !important;
  border: 15px solid white !important;
  border-radius: 1.5rem !important; 
  margin: 0px auto;
  background-color: #bc1b21 !important;
  background-image: url('assets/GamePage/Logo_60x60.svg');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  color: white; 
  padding: 5pt !important;
}

.card-back-1{
  background: white;
  background-image: url('assets/OldGame/PascalSiakam.avif');
  background-size: cover; /* Adjust according to your design needs */
  background-position: center;
  color: white; /* Adjust text color for better visibility */
}

.card-back-2{
  background: white;
  background-image: url('assets/OldGame/ScottieBarnes.avif');
  background-size: cover; /* Adjust according to your design needs */
  background-position: center;
  color: white; /* Adjust text color for better visibility */
}

.card-back-3{
  background: white;
  background-image: url('assets/OldGame/FredVanVleet.png');
  background-size: cover; /* Adjust according to your design needs */
  background-position: center;
  color: white; /* Adjust text color for better visibility */
}

.card-back-4{
  background: white;
  background-image: url('assets/OldGame/OGAnunoby.png');
  background-size: cover; /* Adjust according to your design needs */
  background-position: center;
  color: white; /* Adjust text color for better visibility */
}

.card-back-5{
  background: white;
  background-image: url('assets/OldGame/KyleLowry.png');
  background-size: cover; /* Adjust according to your design needs */
  background-position: center;
  color: white; /* Adjust text color for better visibility */
}

.card-back-6{
  background: white;
  background-image: url('assets/OldGame/DemarDerozan.png');
  background-size: cover; /* Adjust according to your design needs */
  background-position: center;
  color: white; /* Adjust text color for better visibility */
}
